<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <link  type="text/css" href="http://127.0.0.1:8000/static/cv_styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="container-left">
          <div class="logo"></div>

          <div class="header">
            <h1 class="student-name">{{ data.first_name}} <br/> {{ data.last_name }}
            </h1>
            <h1 class="student-position">{{ data.job_title }}</h1>
          </div>

          {% if data.cv_experience %}
            <div class="infoblock">
              <p class="infoblock-title">Опыт работы /</p>

              <ul class="experience">
                {% for job in data.cv_experience %}
                <li class="experience-item">
                  {% if job.company %}
                    <h3 class="company-name">{{ job.company }}</h3>
                  {% endif %}

                  <div class="experience-info">
                    <h4 class="position">{{ job.job_title }}</h4>
                    {% if job.start_date %}
                      <p class="terms">{{ job.start_date }} -
                        {% if job.end_date %}
                          {{ job.end_date }}
                        {% else %}
                          настоящее время
                        {% endif %}
                      </p>
                    {% endif %}

                    <ul class="projects">
                      {% for project in job.projects %}
                      <li class="projects-item">
                        <p class="project-name">{{ project.project_name }}</p>
                        <ul class="project-stack">
                          {% for technology in project.technologies %}
                            <li class="stack-item">{{ technology.technology }}</li>
                          {% endfor %}
                        </ul>
                        {% if project.description %}
                          <div class="problem">
                            <p class="problem-title"> Задача:</p>
                            <p class="problem-description">
                              {{ project.description }}
                            </p>
                          </div>
                        {% endif %}
                        {% if project.summary %}
                          <div class="solution">
                            <p class="solution-title">Результат:</p>
                            <p class="solution-description">
                              <a href="{{ project.summary }}">{{ project.summary }}</a>
                            </p>
                          </div>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <div class="infoblock">
            <p class="infoblock-title">образование /</p>
            <ul class="education">
              <li class="education-item">
                <h3 class="school-name">Школа программирования TeachMeSkills</h3>

                <div class="education-info">
                  <h4 class="position">DevOps Engineer</h4>
                  <p class="terms">декабрь 2020 - апрель 2021</p>
                  <p class="degree">Выпускник</p>
                </div>
              </li>

              <li class="education-item">
                <h3 class="school-name">БГУИР</h3>

                <div class="education-info">
                  <h4 class="position">Инженер по радиоэлектронике</h4>
                  <p class="terms">сентябрь 2015 - июль 2020</p>
                  <p class="degree">Бакалавр</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="container-right">
          {% if data.image %}
            <div class="student-photo-wrapper">
              <div class="student-photo"
                   style="background-image: url('{{ data.image }}')"></div>
            </div>
          {% else %}
            <div class="no-student-photo"></div>
          {% endif %}

          {% if data.phone or data.email %}
            <div class="infoblock">
              <p class="infoblock-title">контакты /</p>
              {% if data.phone %}
                <div class="student-phone">
                  <div class="icon phone-icon"></div><span>{{ data.phone }}</span>
                </div>
              {% endif %}

              {% if data.email %}
                <div class="student-email">
                  <div class="icon email-icon"></div><span>{{ data.email }}</span>
                </div>
              {% endif %}
            </div>
          {% endif %}

          <div class="infoblock">
            <p class="infoblock-title">соцсети /</p>
            <ul class="student-social-media">
              <li class="media-item">
                <div class="icon icon-{{ data.social_media.name }}"></div>
                <span>

{#                 если добавили ссылку         #}
{#                 <a href="{{ путь }}">        #}
{#                    {{ название соц сети }}   #}
{#                 </a>                         #}
{#                 иначе                        #}

                  t.me/constantin_co
                </span>
              </li>
            </ul>
          </div>

          {% if data.cv_languages %}
            <div class="infoblock">
              <p class="infoblock-title">языки /</p>
              <ul class="languages">
                {% for language in data.cv_languages %}
                  <li>{{ language.language.language }} ({{ language.language_level }})</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if data.skills %}
            <div class="infoblock">
              <p class="infoblock-title">навыки /</p>
              <div class="skills">
                {% for skill in data.skills %}
                  {% if forloop.last %}
                    {{ skill.skill_name }}
                  {% else %}
                    {{ skill.skill_name }},
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if data.tools %}
            <div class="infoblock" id="tools">
              <p class="infoblock-title">инструменты /</p>
              <p id="lines"></p>
              <div class="skills" id="tool-items" style="line-height: 5.6mm;">
                {% for tool in data.tools %}
                  {% if forloop.last %}
                    {{ tool.tools_name }}
                  {% else %}
                    {{ tool.tools_name }},
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      {% if data.additional_info %}
      <div class="student-about">
        <p class="infoblock-title">обо мне /</p>
        <p>
          {{ data.additional_info }}
        </p>
      </div>
      {% endif %}
    </div>
  </body>
</html>